<% if @user.errors.any? %>
	<div class="row">
		<div class="panel panel-danger">
		<div class="panel-heading">The form contains <%= pluralize(@user.errors.count, "error")%></div>
			<div class="panel-body">
				<ul class="list-group">
					<% @user.errors.full_messages.each do |msg| %>
						<li class="list-group-item">- <%= msg %></li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
<% end %>