<footer class="footer navbar-fixed-bottom">
	<small>
		<p>Pontus Akervall</p>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
		</ul>	
	</nav>
</footer>